---
- name: Show processed user
  ansible.builtin.debug:
    msg: Process user {{ user.username }} => {{ user.state | default('present') }}
    verbosity: 0

- name: Show processed user
  ansible.builtin.debug:
    var: user
    verbosity: 3

- name: Create per-user group
  when:
    - users_create_per_user_group
    - user.group is not defined or user.group == user.username
    - user.state | default('present') == 'present'
  ansible.builtin.group:
    gid: "{{ user.gid | default(user.uid) | default(omit) }}"
    local: "{{ user.local | default(omit) }}"
    name: "{{ user.username }}"
    state: present
    system: "{{ user.system | default(omit) }}"

- name: Try to manage user
  vars:
    _manage_user_retry: 0
  ansible.builtin.include_tasks: user/manage.yml

- name: Handle user removal
  when:
    - user.state | default('present') == 'absent'
  block:
    - name: Force user home directory removal
      when:
        - _user_result.rc | default(0) == 12
        - user.remove
      ansible.builtin.file:
        path: "{{ user.home | default(users_home ~ '/' ~ user.username) }}"
        state: absent

    - name: Remove per-user group
      when:
        - users_create_per_user_group
        - user.group is not defined
      ansible.builtin.group:
        gid: "{{ user.gid | default(user.uid) | default(omit) }}"
        name: "{{ user.username }}"
        state: absent

- name: Manage user settings
  when:
    - user.state | default('present') == 'present'
    - user.home_create | default(users_create_homedirs)
    - not ansible_check_mode
  block:
    - name: Setting user's home permission
      ansible.builtin.file:
        dest: "{{ user.home | default(users_home ~ '/' ~ user.username) }}"
        group: "{{ user.group | default(user.username if users_create_per_user_group else users_group) }}"
        mode: "{{ user.home_mode | default(users_home_mode) }}"
        owner: "{{ 'root' if user.home_chroot | default(users_home_chroot) else user.username }}"

    - name: Adding user's .ssh directory
      ansible.builtin.file:
        group: "{{ user.group | default(user.username if users_create_per_user_group else users_group) }}"
        mode: 0700
        owner: "{{ user.username }}"
        path: "{{ user.home | default(users_home ~ '/' ~ user.username) }}/.ssh"
        state: directory

    - name: Adding user's private keys
      loop: "{{ user.ssh_keys | default([]) }}"
      loop_control:
        loop_var: ssh_key
        label: "{{ user.username }} -> {{ ssh_key.name }}"
      when:
        - ssh_key.state | default('present') == 'present'
      ansible.builtin.copy:
        content: "{{ ssh_key.key }}"
        dest: "{{ user.home | default(users_home ~ '/' ~ user.username) }}/.ssh/{{ ssh_key.name }}"
        group: "{{ user.group | default(user.username if users_create_per_user_group else users_group) }}"
        mode: 0600
        owner: "{{ user.username }}"

    - name: Removing user's private keys
      loop: "{{ user.ssh_keys | default([]) }}"
      loop_control:
        loop_var: ssh_key
        label: "{{ user.username }} -> {{ ssh_key.name }}"
      when:
        - ssh_key.state | default('present') != 'present'
      ansible.builtin.file:
        path: "{{ user.home | default(users_home ~ '/' ~ user.username) }}/.ssh/{{ ssh_key.name }}"
        state: absent

    - name: Adding user's authorized keys
      ansible.posix.authorized_key:
        exclusive: "{{ user.authorized_keys_exclusive | default(users_authorized_keys_exclusive) }}"
        key: "{{ user.authorized_keys | default([]) | join('\n') }}"
        user: "{{ user.username }}"

    - name: Setup user profiles
      when:
        - user.profile is defined
      ansible.builtin.blockinfile:
        block: "{{ user.profile }}"
        create: true
        dest: "{{ user.home | default(users_home ~ '/' ~ user.username) }}/.profile"
        group: "{{ user.group | default(user.username if users_create_per_user_group else users_group) }}"
        mode: 0644
        owner: "{{ user.username }}"

    - name: Manage home files
      loop: "{{ user.home_files }}"
      loop_control:
        loop_var: _home_file
        label: "{{ user.username }} -> {{ _home_file.path }}"
      ansible.builtin.include_tasks: file.yml
