---
name: Validate and test role
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Lint Ansible Role
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Ansible CLI
        uses: tomasnorre/ansible-cli-client@v0.0.7
        with:
          command: ansible-galaxy collection install community.general

      - name: Run ansible-lint
        uses: ansible-community/ansible-lint-action@v6.8.2

  molecule:
    name: Run Molecule Tests
    defaults:
      run:
        working-directory: finalgene.users
    needs:
      - lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - distro: amazonlinux2
          - distro: centos8
          - distro: centos7
          - distro: debian8
          - distro: debian9
          - distro: debian10
          - distro: debian11
          - distro: fedora24
          - distro: fedora27
          - distro: fedora29
          - distro: fedora30
          - distro: fedora31
          - distro: fedora32
          - distro: fedora33
          - distro: fedora34
          - distro: fedora35
          - distro: fedora36
          - distro: fedora37
          - distro: rockylinux8
          - distro: rockylinux9
          - distro: ubi8
          - distro: ubuntu1204
          - distro: ubuntu1404
          - distro: ubuntu1604
          - distro: ubuntu1804
          - distro: ubuntu2004
      fail-fast: false

    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v3
        with:
          path: finalgene.users

      - name: Set up Python 3.
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install test dependencies.
        run: pip3 install ansible molecule[docker] docker jmespath

      - name: Run Molecule tests.
        run: pwd; ls -la; molecule test
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          MOLECULE_DISTRO: ${{ matrix.distro }}
